@{
    Page.Title = "募集";
    Page.VisitId = 1;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/News">》お知らせ</a></li>
            <li><a href="/News_Member">》メンバーへのお知らせ</a></li>
            <li><a href="/Recruitment">》募集</a></li>
        </ul>
    </div>

    <div id="main">
        <h2>■アニメ制作スタッフ募集！</h2>
        <br>
        白菜チームではアニメ制作スタッフを募集しています。<br>
        アニメが好きで絵が得意な方や元アニメーターさんなどいろんな方のご応募をお待ちしております。<br>
        募集要項は以下の通りです。<br>
        <br>
        <br>
        <h4>＜募集担当＞</h4>
        <br>
        〔Ａ〕作画班<br>
        ①原画担当：若干名<br>
        キャラクターの動きを決める作業です。<br>
        アニメーションとパースの基本知識は必須になります。<br>
        ②動画担当：若干名（急募）<br>
        原画から指定されたものを元に動きを補完する絵を描く作業です。<br>
        正確さと共に早さが要求されます。<br>
        ③仕上げ担当：若干名<br>
        原画や資料等の指示を元に色を塗る作業です。<br>
        各担当の絵が見れるおいしいポジション。<br>
        <br>
        〔Ｂ〕美術班<br>
        ①美術担当：若干名（急募）<br>
        アニメで使われる背景を描く作業です。<br>
        レイアウトを元に白菜の世界を作っていきます。<br>
        <br>
        〔Ｃ〕撮影編集班<br>
        ①撮影担当：若干名<br>
        各担当が描いた絵を映像に仕上げていく作業です。<br>
        本格アニメーションの撮影を担当出来る機会は貴重。<br>
        ※必要人員に達した時点で募集終了<br>
        <br>
        <br>
        <h4>＜応募資格＞</h4>
        <br>
        〔Ａ〕作画班<br>
        ①原画担当<br>
        Ⅰ　アニメーター経験者（プロ・アマチュア問わず）<br>
        Ⅱ　商業・自主制作アニメ作品問わず原画経験者であること<br>
        ※制作会社所属のアニメーターは匿名で応募下さい（トラブル防止の為）<br>
        ※原画経験が無い上で希望の方はまず動画担当へ応募ください。<br>
        ②動画担当<br>
        Ⅰ　アニメキャラクターの模写が出来る方<br>
        Ⅱ　絵柄を合わせられる方<br>
        ③仕上げ担当<br>
        Ⅰ　塗りが好きでたまらない方<br>
        <br>
        〔Ｂ〕美術班<br>
        ①美術担当<br>
        Ⅰ　世界観を作るのが好きな方<br>
        Ⅱ　パースの基本知識は必須<br>
        <br>
        〔Ｃ〕撮影編集班<br>
        ①撮影担当<br>
        Ⅰ　Aviutl及びAfterEffect等の動画編集ソフトを扱える方<br>
        Ⅱ　ＰＣスペックに余裕のある方（３Ｄオンラインゲームが問題なく遊べる程度）<br>
        <br>
        <br>
        <h4>＜各班共通必須条件＞</h4>
        <p>
            <br>
            〔Ａ・Ｂ・Ｃ〕作画班・美術班・撮影編集班<br>
            ＊デジタルペイントソフトを所有し、基本的な操作が出来る方。<br>
            所属スタッフ使用ソフト
        </p>
        <p>
            「ＳＡＩ・フォトショップ・イラストスタジオ・コミックスタジオ・クリップスタジオ・オープンキャンバス」<br>
            ＊スカイプの導入が可能な方<br>
            ＊採用面接はスカイプを使って行われます<br>
            ＊週に２回以上コンタクトの取れる方<br>
            <br>
            <br>
        </p>
        <h4>＜当チームで求められる絵柄等について＞</h4>
        <br>
        アニメＯＰが完成していますので、そこから感じ取ってください。<br>
        「白菜アニメ　OP　ノンクレジット」<br>
        http://www.nicovideo.jp/watch/sm18306787<br>
        <br>
        <br>
        <h4>＜制作環境について＞</h4>
        <br>
        ①デジタルツールでの作業がメインです（原画除く）<br>
        ②作業ノルマはありません（原画除く）<br>
        ③各自のペースで作業が可能です（１ヶ月以上作業出来ない場合は報告要）<br>
        ④納期のある作品ではありませんので、制作期間は決まっていません。<br>
        ⑤長期企画なので途中リタイアも可です（３ヶ月以上作業に携わっていただくと助かります）<br>
        <br>
        <br>
        <h4>＜応募・選考の流れ＞</h4>
        <br>
        ①申請者応募<br>
        ↓<br>
        ②受付通知（概ね１週間以内に返信）<br>
        ↓<br>
        ③一次選考（ホームページ・ソーシャルイラストサイトに投稿されている絵や添付絵で判断）<br>
        ↓<br>
        ④選考結果通知（概ね１週間以内に返信）<br>
        ↓<br>
        ⑤合格者のみ面接案内<br>
        ↓<br>
        ⑥二次選考（スカイプでの面接）<br>
        ↓<br>
        ⑦選考結果通知（概ね１週間以内に返信）<br>
        ↓<br>
        ⑧合格者採用案内<br>
        <br>
        <br>
        <h4>＜応募方法・宛先＞</h4>
        <br>
        support☆shirona.shtair.net<br>
        （☆を＠に置き替えて下さい）<br>
        <br>
        上記のメールアドレスに、<br>
        件名「白菜アニメ企画メンバー募集応募」と記述を入れて、<br>
        本文に以下の必要事項をご記入下さい。<br>
        <br>
        ①名前<br>
        (ＨＮ)<br>
        <br>
        ②希望部署<br>
        (作画or美術or撮影)<br>
        <br>
        ③作業環境<br>
        （使用ツール・活動可能な時間や時間帯）<br>
        <br>
        ④サンプル作品<br>
        作画・美術希望は自作のイラスト３枚以上添付<br>
        作品を置いている・活動しているURLを記載<br>
        (画力等の参考にさせていただきます！)<br>
        撮影希望は作品を置いている・活動しているURLを記載<br>
        <br>
        ⑤模写サンプル（作画希望限定）<br>
        ラマーズＰの絵柄に似せて描いたもの１枚以上を添付<br>
        <br>
        ⑥当企画に対して一言<br>
        (意気込みをお願い致します)<br>
        <br>
        <br>
        メールを頂いてから一週間前後に返事致します。<br>
        募集期間は採用人数が埋まり次第、締め切らせて頂きます。<br>
    </div>
</div>
