@{
    Page.Title = "キャストの紹介";
    Page.VisitId = 2;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Staff">》スタッフの紹介</a></li>
            <li><a href="/Cast">》キャストの紹介</a></li>
        </ul>
    </div>

    <div id="main">
        <img src="/Images/Staff/cast.png">
    </div>
</div>
