@{
    Page.Title = "二次使用に関して";
    Page.VisitId = 8;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Contact">》お問い合わせ</a></li>
            <li><a href="/Guide">》二次使用に関して</a></li>
        </ul>
    </div>

    <div id="main">
        <h2>アニメ企画「白菜たんでアニメ作ってみないか」の二次使用に関するガイドライン</h2>
        <br>
        <br>
        <h4>当企画のアニメを愛してくださってありがとうございます。<br>
            当企画では二次使用に関して下記のガイドラインを設けております。　　
                <br>
            何卒、ご理解いただけますよう、よろしくお願いいたします。</h4>
        <br>
        <br>
        <br>
        <h4>○キャラクター及び設定等の二次使用に関する禁止事項</h4>
        Ａ　Ｒ−１８に該当する内容（グロテスクも含む）<br>
        Ｂ　当作品の動画・静止画・音声等のデータ使用
            <br>
        Ｃ　経済的な利益を目的としたもの（許可要）<br>
        Ｄ　商業的な組織及びその関係者においての頒布・販売（許可要）<br>
        Ｅ　特定の思想（政治・宗教等）を宣伝するような内容<br>
        Ｆ　当作品やスタッフへ社会的な信用失墜、経済的な損失を与える内容や行動<br>
        Ｇ　著しく世界観を壊すものや適切でないと判断したもの<br>
        Ｈ　当作品名・原作者の明記をしないもの<br>
        <br>
        <br>
        <h4>○補足</h4>
        当ガイドラインは予告なく変更される場合があります。何卒ご了承ください<br>
        また、お問い合わせの際は公式ＷＥＢサイトお問合せフォームよりお問い合わせください<br>
        <a href="Contact">http://hakusai-anime.shtair.net/Contact</a><br>
    </div>
</div>
