<link href="/Content/Top.css" rel="stylesheet" />
<div id="topface">
    <img src="/Images/Top/top3.png" />
</div>
<div id="topctt" class="ct clear">
    <div class="inc">
        <a class="twitter-timeline" href="https://twitter.com/shirona_nico" data-widget-id="352973104101855232">@@shirona_nico からのツイート</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
    <div class="inc">
        <div id="w300top" style="height: 45px;"><img src="/Images/Top/news.png" alt="お知らせ" /></div>
        <iframe style="border-style: none; height: 346px;" src="https://hakusai-anime.shtair.net/Portal/Bbs/TopNews/2"></iframe>
    </div>
    <div class="inc">
        <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/sm25224255?w=300&h=390"></script>
        <noscript>
            <a href="http://www.nicovideo.jp/watch/sm25224255">【ニコニコ動画】白菜アニメ「奈須さんちょろいな！」</a>
        </noscript>
    </div>
</div>
