@{
    Page.Title = "リンク";
    Page.VisitId = 7;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Link">》リンク</a></li>
        </ul>
    </div>

    <div id="main">
        <img src="Images/Link/link.png" usemap="#mapID">
        <map name="mapID">
            <area shape="rect" coords="31,122,565,172" href="http://piapro.jp/collabo/?view=collabo&id=16137"
                target="_blank" alt="ピアプロ">
            <area shape="rect" coords="31,196,511,246" href="http://com.nicovideo.jp/community/co6502"
                target="_blank" alt="ニコニココミュニティ">
        </map>
    </div>
</div>
