@{
    Page.Title = "お知らせ";
    Page.VisitId = 1;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/News">》お知らせ</a></li>
@*            <li><a href="/Recruitment">》募集</a></li>*@
        </ul>
    </div>

    <div id="main">
        <iframe src="https://hakusai-anime.shtair.net/Portal/Bbs/News/2" style="width: 100%; border-top-width: 0; border-left-width: 0; border-right-width: 0; border-bottom-width: 0; height: 700px;" />
    </div>
</div>
