@{
    Page.Title = "アンケート";
    Page.VisitId = 6;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Special_Block">》ブロック崩し</a></li>
            <li><a href="/Special_Questionnaire">》アンケート</a></li>
            <li><a href="/Wallpaper">》壁紙</a><img src="/Images/new.png"></li>
        </ul>
    </div>

    <div id="main">
        <img src="/Images/junbi.png">
    </div>
</div>
