@{
    Page.Title = "ブロック崩し";
    Page.VisitId = 6;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Special_Block">》ブロック崩し</a></li>
            <li><a href="/Special_Questionnaire">》アンケート</a></li>
            <li><a href="/Wallpaper">》壁紙</a><img src="/Images/new.png"></li>
        </ul>
    </div>

    <div id="main">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="455" height="690" id="白菜ゲームサンプル" align="">
            <param name="movie" value="/Content/Special/Block/b2.swf?cnf=/Content/Special/Block/shirona.txt">
            <param name="quality" value="high">
            <param name="bgcolor" value="#ff80c0">
            <embed src="/Content/Special/Block/b2.swf?cnf=/Content/Special/Block/shirona.txt" quality="high" bgcolor="#ff80c0" width="455" height="690" name="白菜ゲームサンプル" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></object>

        <br>
        ※制服を崩していくと水着姿になります！
            <br>
        <br>
        B2/<a href="http://www.t-cnet.or.jp/~nix/">アイソトニクス</a>
    </div>
</div>
