@{
    Page.Title = "ストーリー";
    Page.VisitId = 3;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Story">》ストーリー</a></li>
            <li><a href="/Butai">》舞台</a></li>
        </ul>
    </div>

    <div id="main">
        <img src="Images/Story/story_1.png">
    </div>
</div>
