@{
    Page.Title = "壁紙";
    Page.VisitId = 6;
}

<link href="/Content/Page.css" rel="stylesheet" />
<div class="clear">
    <div id="sidemenu">
        <ul>
            <li><a href="/Special_Block">》ブロック崩し</a></li>
            <li><a href="/Special_Questionnaire">》アンケート</a></li>
            <li><a href="/Wallpaper">》壁紙</a><img src="/Images/new.png"></li>
        </ul>
    </div>

    <div id="main">
        <h1>壁紙</h1>
        <p>ダウンロードしたい壁紙の画像をクリックしてください。</p>
        <div class="wp">
            <table>
                <tr>
                    <td valign="top">
                        <h2>No.5</h2>
                        <p>1920 x 1080</p>
                    </td>
                    <td><a href="~/WallpaperDl?id=hakusai_WP_5">
                        <img width="450" alt="1" src="~/Images/Wallpapers/hakusai_WP_5_thmb.png" /></a></td>
                </tr>
            </table>
        </div>
        <div class="wp">
            <table>
                <tr>
                    <td valign="top">
                        <h2>No.6</h2>
                        <p>1920 x 1080</p>
                    </td>
                    <td><a href="~/WallpaperDl?id=hakusai_WP_6">
                        <img width="450" alt="1" src="~/Images/Wallpapers/hakusai_WP_6_thmb.png" /></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
